body {
  text-align: center;
  font-family: "Source Sans Pro";
}

h1,
h2 {
  font-family: Oswald;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  height: 100vh;
  background-image: url("../assets/Desktop_Backgrounds_1920x1200_6\ 3.png");
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.header h1 {
  color: white;
}
.header h2 {
  color: rgba(255, 255, 255, 0.7);
}

.section-1 {
  background-color: #eeeeee;
  padding: 100px;
}
.section-1 h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #464547;
}

.section-1 h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #666666;
}

.section-1 button {
  font-family: Oswald;
  font-weight: 400;
  color: #ffffff;
  background-color: #55c2d8;
  border-radius: 18px;
  height: 36px;
  width: 115px;
  border: 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.section-2 {
  background-image: url("../assets/thumbnail.png");
  background-color: rgba(140, 79, 42, 0.3);
  background-blend-mode: difference;
  position: relative;
  height: 666px;
}
.section-2 h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: #ffffff;
}
.section-2 h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  width: 385px;
}
.section-2 button {
  border-radius: 50%;
  background-color: #39c2d7;
  color: white;
  width: 150px;
  height: 150px;
  font-size: 100px;
  border: 0;
}

footer {
  background-color: #464547;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
  padding: 25px 100px;
}

footer a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}
footer i {
  font-style: normal;
}
footer img {
  vertical-align: middle;
}

.footer-logo {
  margin-bottom: 15px;
}

span {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;

  color: #ffffff;
}

footer p {
  margin: 0;
}
